.app{
 width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  input{

    width: 100% !important;
  }
}
.form_control{
 width: 100% !important;
 font-size: 16px !important;
 height: 38px !important;
 border-radius: 0 !important;
}